[submodule "rai"]
	path = rai
	url = git@animal.informatik.uni-stuttgart.de:mlr-lgp/rai-fork.git
[submodule "rai-robotModels"]
	path = rai-robotModels
	url = git@github.com:MarcToussaint/rai-robotModels.git
